.repository {
    position: relative;
    width: 42%;
    padding: 15px;

    border-radius: 3px;

    p {
        color: #c5c6c7;
    }

    .top-right {
        position: absolute;
        top: 28px;
        right: 20px;
        display: flex;
        align-items: center;

        span {
            color: white;
            margin-right: 4px;
        }

        img.star {
            width: 25px;
        }
    }

    .top {
        display: flex;
        align-items: center;
        
        img {
            width: 35px;
            margin-right: 10px;
        }

        a {
            font-size: 2.4em;
            font-weight: bold;
            text-decoration: none;

            transition: opacity 0.2s;

            &:hover {
                opacity: 0.7;
            }
        }
    }

}