@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    margin: 0;
    padding: 0;

    background: #0b0c10;
    font-family: 'Open Sans', sans-serif;

    h1,h2,h3 {
        margin: 0;
    }
}

a {
    color: #66fcf1;
    text-decoration: none;
}

.repositories {
    min-height: 100vh;
    h1 {
        margin-bottom: 15px;
    }
    .loader {
        position: absolute;
        bottom: 33%;

        transition: opacity 0.2s;

        &.hide {
            opacity: 0;
        }
    }

    .selector {
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            width: 220px;
            height: 50px;
            background: #66fcf1;
            color: #1F2833;
            border: none;
            font-family: 'Open Sans', sans-serif;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1em;
            margin: 15px;

            outline: none;

            cursor: pointer;
            border-radius: 4px;

            transition: background 0.1s;

            &.active {
                background: #1d97e9;
                color: white;
            }
        }

        @media screen and(max-width: 1550px) {
            width: 95%;
            margin: 0 auto;
        }
    }

    h1 {
        font-size: 2.6em;
        margin-top: 50px;
        color: white;
        text-align: center;
    }
    .container {
        width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .repository {
            margin: 50px 15px;

            @media screen and (max-width: 1200px) {
                margin: 20px 15px;
            }
        }
    }
}